.path-mod-mindmap .mindmap_hint {
    text-align:center; 
    font-weight:bold; 
    font-style:italic; 
    font-size:10px;
    margin-top: 10px;
    margin-bottom:10px;
}
.path-mod-mindmap .mindmap_locked {
    text-align:center; 
    font-weight:bold; 
    font-style:italic; 
    font-size:10px;
    margin-top: 10px;
    margin-bottom:10px;
}
.path-mod-mindmap #flashcontent {
    margin:0 auto; 
    padding:3px; 
    text-align:center; 
    border:1px solid #ddd; 
    width:100% !important;
}
